

<p>Click to grab your location:</p>

<button onclick="getLocation()">Click to add your location to the report</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;
}	
</script>



<div id="file-picker" class="padded">

    <form method="POST" action="http://ec2-54-224-68-136.compute-1.amazonaws.com:8080/api/predict" enctype="multipart/form-data">

    <input name="Image" id="Image" type="file" accept="image/*" onchange="loadFile(event)">
    <br>
    <img id="output"/>
    <script>
        
      var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
 
 
        const formData  = new FormData();


  formData.append('Image', event.target.files[0]);


  
        
        fetch('http://ec2-54-224-68-136.compute-1.amazonaws.com:8080/api/predict', { 
	method: "POST" ,
	body: formData 
}) 
.then(resp => resp.json()) 
//we admit the server respond with the saved object: { id: 1, name:"myDummyName" } 
.then(json => console.log("Response: " + json)) 
.catch(err => console.log("An error occured :" + err)); 

 
 
 
 
      //  output.onload = function() {
      //    URL.revokeObjectURL(output.src) // free memory
       // alert(output.src);
        
      //  }
      
    
    
    };
    
    
    
    
    </script>
<br>
<input type="submit" value="Submit Disaster Recovery Incident">


</form>

</div>
