<div id="file-picker" class="padded">

<form method="POST" action="/rekog">
    <label>Anyone can submit a photo of disaster damage. We'll route it to the right place:</label>
    <input class="field" id="filename" type="file" name="filename" accept=".png,.jpg, jpeg" required>
    <input type="submit" value="Scan Image">
</form>
</div>


