<% if (!ui.supressUi) { %>
<div class="title groupdiv">
    <table class="title">
        <tr>
            <td width="1%"></td>
            <td>
                    <h1 class="title">Recover-Ease</h1>
            </td>
            <td class="subtitle">
                   <span class="subtitle">AWS Hakathon Entry</span>
            </td>
        </tr>
    </table>
    <hr>

</div>
<% } %>