<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <title>Rekog</title>
</head>

<!--<body class="simple-style" onLoad="activateUI('<%= ui.flow.activateDiv %>','<%= ui.flow.activateButton %>')">-->
  <body class="simple-style">


    <% include ./partials/title-bar.ejs %>

    <div class="padded">
        <!-- Form Partials -->

        <% include ./partials/file-picker.ejs %>
    
</div>
    </div>

</body>

</html>